.myProjectsContainer {
    padding: 1rem;
  }
  
  .myProjectsTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .myProjectsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .projectCard {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #1c1c1e;  
    color: #f3f4f6; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #374151; 
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

  }


  .projectHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .projectIcon {
    font-size: 1.5rem;
  }
  
  .projectName {
    color: #f39c12;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .projectDescription {
    color: #d1d5db; 
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  
  .projectDetails {
    font-size: 0.875rem; 
    color: #9ca3af; 
  }
  
  .projectDetails p {
    margin: 0.25rem 0;
  }
  