h1{
    margin: 10px;
    font-size: large;
}

.titulo{
    font-size: large;
    justify-content: left;
    padding-top: 20px;
    padding-left: 16px;
    color:orange;

}

.datos{
    padding: 20px;
    border-style: none;
    width:260px;
    height: 200px;
}

.logout-btn{
    display: flex;
    justify-content: left;
    padding-top: 16px;
    padding-left: 16px;
}