.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
    
  }
  
  .calendar-date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calendar-time {
    font-size: 2rem;
    font-weight: 600;
  }
  