.logout-button {
  color: white; 
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center; 
  background: none;
  border-style: solid;
  width: 124px;
}


.logout-icon{

  font-size: 20px;
}

.logout-text{
  font-size: 16px;
}

.logout-button:hover {

  background-color: #333333;
  transform: scale(1.05);
  color: #00d4ff;
}
