body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f1f1f1;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #1c1c1e;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 0 20px;
  height: 70px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  gap: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.logo {
  color: #f39c12;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
}
.navbar .hamburguer-icon {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.hamburguer-icon:hover {
  color: aqua;
}

.logo:hover {
 color: aqua;
}
/*Sidebar*/
.nav-menu {
  position: fixed; /* Para que se quede fijo cuando hagas scroll */
  background-color: #1c1c1e; 
  width: 35%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease-in-out;
  padding-top: 30px;
  z-index: 10;
}

.nav-menu.active {
  left: 0;
}

.nav-menu ul {
  list-style-type: none; 
  padding-left: 0; 
  margin: 0;
}

.nav-text, .nav-text-logout{
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-text:hover {
  transform: scale(1.05);
}

.nav-text a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.nav-text-logout{

  justify-content: end;

}


@media (max-width: 768px) {
  .navbar {
    padding: 0 15px;
    height: 60px;
  }

  .nav-menu {
    width: 200px;
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
  }

  .navbar .menu-bars {
    font-size: 1.2rem;
  }
}
