body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #121212;
    box-sizing: border-box;
    position: relative;
  }

.footer{

    bottom: 0 ;
    width: 100% ;
    text-align: center;
}

.footer:hover{
    color: aqua;
}

