.my-stories-container {
    padding: 1rem;
  }
  
  .my-stories-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
  }
  
  .story-card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #1c1c1e; 
    color: #f3f4f6; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); / 
  }
  
  .story-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .story-icon {
    font-size: 1.5rem;
  }
  
  .story-name {
    color: aqua;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .story-description {
    font-style: italic;
    color: whitesmoke; 
    margin-bottom: 0.5rem;
  }
  
  .story-details {
    font-size: 0.875rem; 
    color: whitesmoke;
  }
  
  .story-details p {
    margin: 0.25rem 0;
  }

  .stories-title{
    color: green;
  }
  