.my-tasks-container {
    padding: 1rem;
  }
  
  .my-tasks-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
  }
  
  .tasks-card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #1c1c1e; 
    color: #f3f4f6; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     
  }

  .tasks-bttns{
    display: flex;
    justify-content: left;
    gap: 4px;

  }

  .tasks-card-add {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #1c1c1e;
    color: greenyellow;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: pointer;
    
  }

  .tasks-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .tasks-icon {
    font-size: 1.5rem;
  }
  
  .tasks-name {
    color: greenyellow;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .tasks-description {
    font-style: italic;
    color: whitesmoke; 
    margin-bottom: 0.5rem;
  }
  
  .tasks-details {
    font-size: 0.875rem; 
    color: whitesmoke;
  }
  
  .tasks-details p {
    margin: 0.25rem 0;
  }

  .tasks-title{
    color: green;
  }
.btn-delete{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}